:root{
    --todos-textos:#ffffff;
    --joui-burguer-e-lanche:#A31C1C;
    --quadrado-joui-escuro:#7D1717;
    --kaiser-lanche:#5E1260;
    --quadrado-kaiser-escuro:#3F0D41;
    --arthur-lanche:#39781B;
    --quadrado-arthur-escuro:#26560F;
    --cor-de-fundo:#EFDFDF;
}

body{
   background-color:var(--cor-de-fundo);
   color:var(--todos-textos);
}

.primeira-parte{
    color: var(--joui-burguer-e-lanche);
}

.container{
    display: grid;
    grid-template-columns: 70% 70%;
}

.primeiro-lanche{
    background-color: var(--quadrado-joui-escuro);
    margin: 100px 500px;
    display: flex;
}
